<!DOCTYPE html>
<html>
  <div class="header">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Zurb Foundation" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Zurb Foundation" %>">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </div>
  <body>
    <header>
      <%= render 'layouts/navigation' %>
    </header>
    <main role="main">
       <%= render 'shared/flash_messages' %>
       <%= yield %>
    </main>
    <footer>
      <%= render 'layouts/carousel' %>
    </footer>
      <% if Rails.env == 'development' %><%= debug(params) %><% end %>
  </body>
</html>
